<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Fabrication Processes Catalog</h1>

<% @fab_processes.each do |fab_process| %>
  <div class="entry">
    <h3><%= fab_process.category %></h3>
    <%=sanitize fab_process.name %>
    <%= button_to 'Add to Process Flow', process_steps_path(:fab_process_id => fab_process) %>
  </div>
<% end %>
